.Header {
  height: 70px;
  box-sizing: border-box;
  text-align: left;
  background-color: $theme-color-1;
  color: white;
  padding: 10px 10%;
}

.HeaderTitle {
  font-size: 25pt;
  font-weight: 700;
}

