.Header {
  height: 70px;
  box-sizing: border-box;
  text-align: left;
  background-color: $theme-color-1;
  padding: 10px 10%;
}

.HeaderTitle {
  color: white;
  font-size: 25pt;
  font-weight: 700;
  background-color: $theme-color-1;
  border: 0px;
  cursor: pointer;
  text-decoration: none;
}

