.Menu {
  display: inline-block;
  width: 50%;
  height: 100%;
  font-size: 15pt;
  font-weight: 700;
  text-align: center;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: $theme-color-2;
  }
}
